<!DOCTYPE html>
<html>
<head>
  <title>Web Push Notification Demo</title>
  <link rel="manifest" href="manifest.json">
</head>
<body>

<h1>Web Push Notification Demo</h1>

<p>GitHub repository: <a href="https://github.com/bhritchie/web-push">https://github.com/bhritchie/web-push</a></p>



<input type="checkbox" id="toggle-push" disabled>
<label for=toggle-push id="toggle-push-label">Enable Push Notifications</label>



<script src="client.js"></script>
</body>
</html>